{% extends 'base.html.twig' %}

{% block content %}
    <main>
        {# message d'erreur et loading AJAX #}
        <div id="flash-ajax" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <p></p>
        </div>
        <div id="loading-modal" class="d-none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <i class="fas fa-spinner fa-3x"></i>
        </div>

        <h2 class="title-page">listes des associations public</h2>

        <div>
            {# ----------------- Menu déroulant des Catégories + Search bar ----------------- #}
            {% set getCategory = app.request.get('getCategory') %}

            <label for="categories">Catégories</label>
            {#    La méthode JS 'onchange="window.location.href' = this.value"
            permet de recharger la page en dès la sélection d'une l'option    #}
            <select name="categories" id="categories" onchange="window.location.href = this.value">
                <option value="{{ path('associations', {getCategory: null}) }}">Toutes</option>
                {% for category in categories %}
                    <option
                            {{ (category.id in getCategory) ? 'selected' : '' }}
                            data-catg="{{ category.id }}"
                            value="{{ path('associations', {getCategory: category.id}) }}">{{ category.name }}
                    </option>
                {% endfor %}
            </select>

            {# ----------------- Rechercher une association ----------------- #}
            <div>
                <label for="search">rechercher</label>
                <input type="text" id="search" data-search-url="{{ path('_ajax_search') }}">
                <i id="search-btn" class="fas fa-search"></i>
            </div>
        </div>
        
        {# ----------------- Liste des associations ----------------- #}
        <div class="associations">
            {% for association in associations %}
                <div>
                    <h3>{{ association.name }}</h3>

                    {# ----------------- Images des associations ----------------- #}
                    <div>
                    {% if association.image is null %}
                        <img src="{{ asset(ImgAssosDefault) }}" alt="image par défaut" style="width: 10%;">
                    {% else %}
                        <img src="{{ asset(ImgAssosFolder ~ association.image) }}" alt="{{ association.name }}" style="width: 10%;">
                    {% endif %}
                    </div>

                    <a href="{{ path('association_id', {id: association.id}) }}">Voir l'association</a>

                    {# ----------------- Dons aux associations ----------------- #}
                    <div>
                        <select name="donation" class="donation">
                            {% for amount in array_amount %}
                                <option
                                    {% if amount == default_amount %}
                                        {# détecte le montant selectionné par défaut #}
                                        selected
                                    {% endif %}
                                value="{{ amount }}">{{ amount }}</option>
                            {% endfor %}
                        </select>
                        <button class="donation-button btn btn-info btn-sm"
                                data-association-id="{{ association.id }}">Donner</button>
                    </div>

                    {# ----------------- Catégories des associations ----------------- #}
                    <div>
                        <p>
                            categories :
                        {% for category in association.categories |sort %}
                                {# |sort tri par ordre alph. #}{{ category.name }}
                            {% if loop.index < association.categories |length %}
                                {# détecte la dernière catégories #} <i>/</i>
                            {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {% include 'includes/js_ajax_basket.html.twig' %}
    {% include 'includes/js_ajax_search.html.twig' %}
{% endblock %}
