{% extends 'base.html.twig' %}

{% block content %}
<main>
    {% include 'includes/flash_load_ajax.html.twig' %}

    <h5 class="title-page mt-5 mb-4">Liste des Associations</h5>

    <div class="container mb-5">
        <div class="filters input-group mb-3">
            {# ----------------- Menu déroulant des Catégories + Search bar ----------------- #}
            {#    La méthode JS 'onchange="window.location.href' = this.value"
            permet de recharger la page en dès la sélection d'une l'option    #}
            {% set getCategory = app.request.get('getCategory') %}
            <label hidden for="categories">Catégories</label>
            <select name="categories" id="categories" class="donation custom-select"
                    onchange="window.location.href = this.value">

                <option value="{{ path('associations', {getCategory: null}) }}">Catégories</option>
                {% for category in categories %}
                    <option
                        {{ (category.id in getCategory) ? 'selected' : '' }}
                        data-catg="{{ category.id }}"
                        value="{{ path('associations', {getCategory: category.id}) }}">{{ category.name }}
                    </option>
                {% endfor %}
            </select>

            {# ----------------- Rechercher une association ----------------- #}
            <i id="search-btn" class="fas fa-search mr-3 ml-3"></i>
            <label hidden for="search">Recherche</label>
            <input type="text" id="search" data-search-url="{{ path('_ajax_search') }}" placeholder="rechercher">
        </div>

        {# ----------------- Liste des associations ----------------- #}
        <div class="associations">
            {% for association in associations %}
                <div class="asso-asso">

                    {# ----------------- Images des associations ----------------- #}
                    <div class="image-asso box">
                        <a href="{{ path('association_id', {id: association.id}) }}" class="link-asso">
                            {% if association.image is null %}
                                <img src="{{ asset(ImgAssosDefault) }}" alt="image par défaut">
                            {% else %}
                                <img src="{{ asset(ImgAssosFolder ~ association.image) }}" alt="{{ association.name }}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="text-asso box">
                        <a href="{{ path('association_id', {id: association.id}) }}" class="link-asso">
                            <h3>{{ association.name }}</h3>
                        </a>
                        <p class="descript">{{ textSlice(association.description, 120) }}</p>

                        {# ----------------- Catégories des associations ----------------- #}
                        <p class="catg">
                            {% for category in association.categories %}
                                <a href="{{ path('associations', {getCategory: category.id}) }}" class="link-asso">
                                    {{ category.name }}
                                </a>
                                {% if loop.index < association.categories | length %}
                                    {# détecte la dernière catégories #} <b>/</b>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>

                    {# ----------------- Dons aux associations ----------------- #}
                    <div class="form-don box">
                        <label hidden for="donation">Faites un Don</label>
                        <select name="amount" id="donation" class="donation custom-select">
                            {% for amount in array_amount %}
                                <option
                                    {% if amount == default_amount %}
                                        {# détecte le montant selectionné par défaut #}
                                        selected
                                    {% endif %}
                                value="{{ amount }}">{{ amount }}</option>
                            {% endfor %}
                        </select>
                        <button class="donation-button btn btn-info btn-sm mt-2"
                                data-association-id="{{ association.id }}">Donner</button>
                    </div>
                </div>
            {% else %}
                <div class="no-infos">
                    <span>Aucunes associations trouvées</span>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {% include 'includes/js_ajax_search.html.twig' %}
{% endblock %}
