{% extends 'base.html.twig' %}

{% block content %}
    <main>
        {# message d'erreur et loading AJAX #}
        <div id="flash-ajax" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <p></p>
        </div>
        <div id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <i class="fas fa-spinner fa-3x"></i>
            {#<p>veuillez patienter</p>#}
        </div>

        <h1>panier public</h1>

        <div class="basket">
            <form action="{{ path('user_payment') }}" method="post">
            {% for donation in donations %}
                    {# ----------------- block donation ----------------- #}
                <div class="donation" id="{{ donation.id }}">
                    <div class="image-asso-basket">
                        {% if donation.assos.image is null %}
                            <img src="{{ asset(ImgAssosDefault) }}" alt="image par défaut" style="width: 10%;">
                        {% else %}
                            <img src="{{ asset(ImgAssosFolder ~ donation.assos.image) }}" alt="{{ donation.assos.name }}" style="width: 10%;">
                        {% endif %}
                    </div>
                    <div class="name-asso">
                        <a href="{{ path('association_id', {id: donation.assos.id}) }}"><p>{{ donation.assos.name }}</p></a>
                    </div>

                    {# ----------------- modifier / supprimer un don ----------------- #}
                    <div>
                        <select name="donation_{{ donation.id }}" class="donation-select" data-association-id="{{ donation.assos.id }}">
                            {% for amount in array_amount %}
                                <option
                                    {% if amount == donation.amount %}
                                        {# détecte le montant selectionné par défaut #}
                                        selected
                                    {% endif %}
                                    value="{{ amount }}">{{ amount }}</option>
                            {% endfor %}
                        </select>
                        <a href="#" class="delete-donation" data-donation-id="{{ donation.id }}" data-association-id="{{ donation.assos.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
                <button type="submit" class="btn btn-info">Payer</button>
            </form>
        </div>

        {# ----------------- Total / Paiement ----------------- #}
        <div class="total-amount" id="total-amount">
            <p>Total : <span id="amount">{{ total_amount }}</span>€</p>
        </div>

    </main>
{% endblock %}

{% block scripts %}
    <script>

        {# On attend que la page est fini de charger #}
        $(document).ready(function() {

            $('#loading-modal').hide()

            {# affiche la modal loading-modal pendant le chargement AJAX #}
            $(document).ajaxStart(function(){
                $('#loading-modal').show()
            });

            {# On écoute l'évènement 'change' sur le select donation #}
            $('.donation-select').change(function () {

                {# On recupère l'id de l'association passé en paramètre data-attribute #}
                var id = $(this).data('association-id')

                {# On recherche le montant selectionné dans la div parente au 'button' #}
                {# Soit this(button) -> parent(div) -> option selectionné et récupère sa valeur #}
                var amount = $(this).find('option:selected').val()

                {# fontion AJAX méthode POST #}
                $.ajax({
                    type: "POST",
                    {# chemin vers la route controller qui va traiter les datas #}
                    url: '{{ path('_ajax_add_to_basket') }}',
                    {# Data a envoyer en POST #}
                    data: {
                        id: id,
                        amount: amount
                    },
                    {# fontion à excécuter en cas de success #}
                    success: function (response)
                    {
                        if(response.status === true)
                        {
                            {# Raffraichi le nombre de dons et le montant total en cas de succès #}
                            $('#basket-link span').text(response.quantity)
                            $('#amount').text(response.amount)
                            $('#flash-ajax p').text('')
                        }
                        else if(response.status === false)
                        {
                            {# Affiche un message d'erreur en cas d'échec #}
                            $('#flash-ajax p').text('une erreur est survenue, veuillez réessayer.')
                        }
                    },
                    {# Type de réponse attendu #}
                    dataType: 'json'
                });
            })

            {# On écoute l'évènement 'click' sur le lien delete #}
            $('.delete-donation').on('click', function (e) {
                e.preventDefault()

                {# On recupère l'id la donation passé en paramètre data-attribute #}
                var id_don = $(this).data('donation-id')

                {# On recupère l'id de l'association passé en paramètre data-attribute #}
                var id_asso = $(this).data('association-id')

                {# fontion AJAX méthode POST #}
                $.ajax({
                    type: "POST",
                    {# chemin vers la route controller qui va traiter les datas #}
                    url: '{{ path('_ajax_delete_from_basket') }}',
                    {# Data a envoyer en POST #}
                    data: {
                        id_don: id_don,
                        id_asso: id_asso
                    },
                    {# fontion à excécuter en cas de success #}
                    success: function (response)
                    {
                        if(response.status === true)
                        {
                            {# Retire la donation correspondant à l'id #}
                            $('#' + id_don).remove()

                            {# Raffraichi le nombre de dons et le montant total en cas de succès #}
                            $('#basket-link span').text(response.quantity)
                            $('#amount').text(response.amount)
                            $('#flash-ajax p').text('')
                        }
                        else if(response.status === false)
                        {
                            {# Affiche un message d'erreur en cas d'échec #}
                            $('#flash-ajax p').text('une erreur est survenue, veuillez réessayer.')
                        }
                    },
                    {# Type de réponse attendu #}
                    dataType: 'json'
                });
            })


            {# cache la modal loading-modal après le chargement AJAX #}
            $(document).ajaxStop(function(){
                $('#loading-modal').hide()
            });
        })
    </script>
{% endblock %}
