{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
{% endblock %}

{% block content %}

    {# ----------------- Historique des dons ----------------- #}
    <h2 class="title-page">Historiques des donations (ADMIN)</h2>
    <div class="dashboard">

        {# ----------------- Form Filtres ----------------- #}
        <form action="{{ path('admin_donations') }}" method="GET">

            {# Récupère les paramètre GET afin de définir les options à sélectionner #}
            {% set getYear = app.request.get('year') %}
            {% set getAsso = app.request.get('asso') %}
            {% set getUser = app.request.get('user') %}
            {% set getStatus = app.request.get('status') %}

            <label for="year">Trier par : </label>
            {# Filtre années #}
            <select name="year" id="year">
                <option {{ ('2019' in getYear) ? 'selected' : ''  }} value="2019">2019</option>
                <option {{ ('2018' in getYear) ? 'selected' : ''  }} value="2018">2018</option>
            </select>

            {# Filtre Asso #}
            <select name="asso" id="asso">
                <option value="null">associations</option>
                {% for asso in allAsso %}
                    <option {{ (asso.id in getAsso) ? 'selected' : ''  }} value="{{ asso.id }}">{{ asso.name }}</option>
                {% endfor %}
            </select>

            {# Filtre User #}
            <select name="user" id="user">
                <option value="null">utilisateurs</option>
                {% for user in allUser %}
                    <option {{ (user.id in getUser) ? 'selected' : ''  }} value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>

            {# Filtre paymentStatus #}
            <select name="status" id="status">
                <option {{ (1 in getStatus) ? '' : 'selected'  }} value="">Sauf Panier</option>
                <option {{ (1 in getStatus) ? 'selected' : ''  }} value="1">Panier</option>
            </select>

            <button type="submit" class="btn btn-info btn-sm">Filtrer</button>

        </form>

        {# ----------------- Total des dons ----------------- #}
        <div class="amount">
            Total des Dons en {{ getYear }} : {{ totalAmount }}€
        </div>
    </div>

    {# ----------------- Affichage des dons ----------------- #}
    <div class="donations">
        <h3 class="sub-title dons">Donations</h3>
        <div class="box-dons">
            {% for don in donations %}
                <div class="donation">
                    <a href="{{ path('association_id', {id: don.assos.id}) }}"><span>{{ don.assos.name }}</span></a>
                    - <span>le: {{ don.createdAt | date("d.m.y H:i:s") }}</span>
                    - <span>user : {{ don.user.username }}</span>
                    - <span>montant : {{ don.amount }}€</span>
                    {% if don.paymentMode == 1 %}
                        - <span>moyen : <i class="fab fa-paypal"></i></span>
                    {% endif %}
                    - <span>{{ paymentStatus[don.paymentStatus] }}</span>
                </div>
            {% else %}
                <div class="donation">
                    <span>Aucunes donations en attente de transfert</span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
