
    {# ----------------- Template des recherche Ajax des associations ----------------- #}
<div class="associations">
    {% for association in associations %}
        <div>
            <h3>{{ association.name }}</h3>

            {# ----------------- Images des associations ----------------- #}
            <div>
            {% if association.image is null %}
                <img src="{{ asset(ImgAssosDefault) }}" alt="image par défaut" style="width: 10%;">
            {% else %}
                <img src="{{ asset(ImgAssosFolder ~ association.image) }}" alt="{{ association.name }}" style="width: 10%;">
            {% endif %}
            </div>

            <a href="{{ path('association_id', {id: association.id}) }}">Voir l'association</a>

            {# ----------------- Dons aux associations ----------------- #}
            <form action="{{ path('_search_donation') }}" method="POST">
                <select name="amount" class="donation">
                    {% for amount in array_amount %}
                        <option
                            {% if amount == default_amount %}
                                {# détecte le montant selectionné par défaut #}
                                selected
                            {% endif %}
                            value="{{ amount }}">{{ amount }}</option>
                    {% endfor %}
                </select>
                <button name="submit" value="{{ association.id }}" class="donation-button btn btn-info btn-sm" type="submit">Donner</button>
            </form>

            {# ----------------- Catégories des associations ----------------- #}
            <div>
                <p>
                    categories :
                {% for category in association.categories %}
                    {{ category.name }}
                    {% if loop.index < association.categories | length %}
                        {# détecte la dernière catégories #} <i>/</i>
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <span>Aucunes associations trouvées</span>
        </div>
    {% endfor %}
</div>
