{% trans_default_domain 'FOSUserBundle' %}

{% set referer = app.request.headers.get('referer') %}

<main>
    <div class="container">
        <div class="login mb-4">
            <h5 class="title-page mt-2 mb-3">Formulaire d'inscription</h5>

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div class="btn-login mb-2">
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-warning btn-sm"/>
                    {# Lien vers la page précédente grace au 'referer' de Twig #}
                    {% set referer = app.request.headers.get('referer') %}

                    {% if referer is not null %}
                        <a href="{{ referer }}" class="btn btn-danger btn-sm">Annuler</a>
                    {% else %}
                        <a href="{{ path('home') }}" class="btn btn-danger btn-sm">Annuler</a>
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</main>
