{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
    <h5 class="title-page mb-4">Administration des Paiements</h5>
{% endblock %}

{% block content %}
<main id="dashboard">
    {% include 'includes/flash_load_ajax.html.twig' %}

    {# ----------------- Modal annulation paiment ----------------- #}
    <div id="validate-modal" class="d-none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="message-delete">
            <div>Etes vous sûr de vouloir annuler le paiement N° <b><span class="name"></span></b> ?</div>
            <div>
                <button id="validate" class="btn btn-danger btn-sm">Valider</button>
                <button id="cancel" class="btn btn-info btn-sm">Annuler</button>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        {# ----------------- Paiement en attente ----------------- #}
        <div class="await-payments">
            <form action="{{ path('admin_payments') }}" method="POST">
            <table class="table table-responsive-sm">
                <thead>
                <tr>
                    <td colspan="6" style="text-align: left; padding: 2px">Associations en attente de paiement</td>
                </tr>
                <tr>
                    <th colspan="2" scope="col">Association</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Dons</th>
                    <th scope="col">Payer</th>
                </tr>
                </thead>
                <tbody>
                    {% for pay in awaitPayments %}
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('association_id', {id: pay.0.id}) }}" class="link-asso">{{ pay.0.name }}
                                </a>
                            </td>
                            <td>{{ pay.amount }}€</td>
                            <td>
                                <label hidden for="mode">mode de paiement</label>
                                <select name="mode" id="mode" class="custom-select">
                                    {% for key, mode in paymentMode %}
                                        <option
                                            {{ ( key == 3 )? 'selected' : '' }} value="{{ key }}">{{ mode }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="id_asso" value="{{ pay.0.id }}">
                                <input type="hidden" name="amount" value="{{ pay.amount }}">
                            </td>
                            <td>
                                <a href="" class="arrow btn btn-info btn-sm"
                                    {# data envoyé au JS pour les ouverture de pop-up DONS #}
                                   data-btn="{{ pay.0.id }}" data-display="false" data-class=".await_">
                                    <i class="fas fa-caret-square-down"></i>
                                </a>
                            </td>
                            <td>
                                <button type="submit" name="submit"
                                    class="btn btn-danger btn-sm" value="submit">Payer
                                </button>
                            </td>
                        </tr>

                        {# ----------------- Modal des donnations en attentes ----------------- #}
                        <tr class="await_{{ pay.0.id }} d-none">
                            <td colspan="6" style="text-align: left; padding: 2px">Détail du paiement</td>
                        </tr>
                        <tr class="await_{{ pay.0.id }} d-none th-don">
                            <th colspan="2" scope="col">Date du don</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Mode</th>
                            <th colspan="2" scope="col">Utilisateur</th>
                        </tr>
                        {% for don in pay.0.donations %}
                            {% if don.paymentStatus == 4 %}
                                <tr class="await_{{ pay.0.id }} d-none td-don">
                                    <td colspan="2" class="date">{{ don.createdAt |date('d/m/y H:i:s') }}</td>
                                    <td>{{ don.amount }}€</td>
                                    <td>
                                        {% if don.paymentMode == 1 %}
                                            <i class="fab fa-paypal"></i>
                                        {% endif %}
                                    </td>
                                    <td colspan="2">{{ don.user.username }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if awaitPayments is empty %}
                        <tr>
                            <td colspan="6" style="text-align: center;">Aucun paiement en attente</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            </form>
        </div>

        {# ----------------- Historique des paiement ----------------- #}
        <div class="old-payments">
            <table class="table table-responsive-sm">
                <thead>
                <tr>
                    <td colspan="6" style="text-align: left; padding: 2px">Paiements transférés aux associations</td>
                </tr>
                <tr>
                    <th colspan="2" scope="col">Association</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Dons</th>
                    <th scope="col">Annuler</th>
                </tr>
                </thead>
                <tbody>
                {% for pay in oldPayments %}
                    <tr class="{{ (pay.paymentStatus != 3) ? '' : 'canceled' }}">
                        <td colspan="2">
                            <a href="{{ path('association_id', {id: pay.association.id}) }}" class="link-asso">{{ pay.association.name }}
                            </a>
                        </td>
                        <td>{{ pay.amount }}€</td>
                        <td>{{ paymentMode[pay.paymentMode] }}</td>
                        {% if pay.paymentStatus != 3 %}
                            <td>
                                <a href="" class="arrow btn btn-info btn-sm"
                                    {# data envoyé au JS pour les ouverture de pop-up DONS #}
                                   data-btn="{{ pay.id }}" data-display="false" data-class=".old_">
                                    <i class="fas fa-caret-square-down"></i>
                                </a>
                            </td>
                            <td>
                                <a href="" class="delete btn btn-danger btn-sm"
                                   data-delete-id="{{ pay.id }}" data-delete-name="{{ pay.id }}"
                                   data-delete-path="{{ path('admin_ajax_payments_cancel') }}">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        {% else %}
                            <td colspan="2">{{ paymentStatus[pay.paymentStatus] }}</td>
                        {% endif %}
                    </tr>

                    {# ----------------- Modal des donnations historique ----------------- #}
                    <tr class="old_{{ pay.id }} d-none">
                        <td colspan="6" style="text-align: left; padding: 2px">Détail du paiement</td>
                    </tr>
                    <tr class="old_{{ pay.id }} d-none th-don">
                        <th colspan="2" scope="col">Date du don</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Mode</th>
                        <th colspan="2" scope="col">Utilisateur</th>
                    </tr>
                    {% for don in pay.donations %}
                        <tr class="old_{{ pay.id }} d-none td-don">
                            <td colspan="2" class="date">{{ don.createdAt |date('d/m/y H:i:s') }}</td>
                            <td>{{ don.amount }}€</td>
                            <td>
                                {% if don.paymentMode == 1 %}
                                    <i class="fab fa-paypal"></i>
                                {% endif %}
                            </td>
                            <td colspan="2">{{ don.user.username }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% if awaitPayments is empty %}
                    <tr>
                        <td colspan="6" style="text-align: center;">Aucun paiement effectués</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {% include 'includes/js_ajax_delete.html.twig' %}

    <script>
        $(document).ready(function () {

            {# Permet d'ouvrir ou de fermer les modals de donations #}
            $('.arrow').on('click', function (e) {
                e.preventDefault()

                var id = $(this).data('btn')
                var display = $(this).data('display')
                var aim_class = $(this).data('class')

                if (!display) {

                    $(aim_class + id).removeClass('d-none')
                    $(this).data('display', true)

                } else {

                    $(aim_class + id).addClass('d-none')
                    $(this).data('display', false)

                }
            })

        })
    </script>
{% endblock %}
