{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}
{% endblock %}

{% block content %}

    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_user_dashboard.html.twig' %}

    {# ----------------- Informations personelles ----------------- #}
    <h2 class="title-page">Informations personnelles</h2>

    <div class="infos">
        <div class="info"><span>{{ user.firstname }}</span>, <span>{{ user.lastname }}</span></div>
        <div class="info"><span>Nom d'utilisateur : {{ user.username }}</span></div>
        <div class="info"><span>Mail : {{ user.email }}</span></div>
        <div class="info"><span>Civilité : {{ user.gender }} / Date de naissance : {{ user.birthdayAt | date('d/m/y') }}</span></div>
        <div class="info"><span>Menbre depuis le : {{ user.createdAt | date('d/m/y') }}</span></div>
        <div class="info modif">
            <div>Modifier mon mail : <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-danger btn-sm">modifier</a></div>
            <div>Modifier mon mot de passe : <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger btn-sm">modifier</a></div>
        </div>
    </div>

{% endblock %}
