
{#              Bar de Navigation mobile           #}

<div class="small-nav">
    <img src="{{ asset('assets/images/logo.png') }}" class="nav-logo" alt="logo navigation les associables.org">
    <div class="btn-small-nav">
        <div class="nav-item">
            <a class="nav-link" id="basket-link" href="{{ path('basket') }}"><i class="fas fa-shopping-cart"></i>
                {% set quantity = getBasketInfos( app.request ).quantity %}
                <span class="basket-tick" data-basket-quantity="{{ quantity }}">
                       {{ quantity }}
                    </span>
            </a>
        </div>
        {% if app.user.username is defined %}
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('home') }}">Accueil</a>
                <a class="dropdown-item" href="{{ path('associations') }}">Associations</a>
                <a class="dropdown-item" href="{{ path('mentions') }}">Mentions</a>
                <a class="dropdown-item" href="{{ path('user_donations', {'year' : '2019'}) }}">Compte Client</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('admin_donations', {'year' : '2019'}) }}">Compte Admin</a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </div>
        {% else %}
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ path('home') }}">Accueil</a>
                <a class="dropdown-item" href="{{ path('associations') }}">Associations</a>
                <a class="dropdown-item" href="{{ path('mentions') }}">Mentions</a>
                <a class="dropdown-item" href="{{ path('fos_user_security_login') }}" class="btn btn-info">Connexion</a>
            </div>
        {% endif %}
    </div>
</div>