
{#              Bar de Navigation            #}
<div class="large-nav">
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">

    <img src="{{ asset('assets/images/small_logo.png') }}" class="nav-logo" alt="logo navigation les associables.org">

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">

            {#              exemple de condition ternaire twig              #}
            {#  {{ ('argument' in 'test argument') ? 'success' : 'fail' }}  #}

            {% set route = app.request.attributes.get('_route') %}

            <li class="nav-item {{ ('home' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item {{ ('associations' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('associations') }}">Associations</a>
            </li>
            <li class="nav-item {{ ('mentions' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('mentions') }}">Mentions</a>
            </li>
            <li class="nav-item {{ ('basket' in route) ? 'active' : '' }}">
                <a class="nav-link" id="basket-link" href="{{ path('basket') }}">Panier

                {#        On appel la méthode Twig 'getBasketInfos()' de la class AppExtention.php       #}
                {# elle prend en paramètre 'app.request' afin de pouvoir récupérer l'User ou le cookieId #}
                {# Grâce au script jQuery, on n'affiche le résultat uniquement s'il est supérieur à zéro #}
                    {% set quantity = getBasketInfos( app.request ).quantity %}

                    <span class="basket-tick" data-basket-quantity="{{ quantity }}">
                       {{ quantity }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    {# Récupère et affiche le nom d'utilisateur Si celui-ci est connecté #}
    {% if app.user.username is defined %}
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'includes/drop_admin_option.html.twig' %}
        {% else %}
            {% include 'includes/drop_user_option.html.twig' %}
        {% endif %}
    {% else %}
        <div class="btn-group">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-info">Connexion</a>
        </div>
    {% endif %}
</nav>
</div>