
{#        Menu du dashboard Utilisateur        #}

<nav class="navbar navbar-expand-sm navbar-light bg-light mt-5">

    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav nav-user">
            {% set route = app.request.attributes.get('_route') %}

            <li class="nav-item {{ ('user_donations' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('user_donations', {'year' : '2019'}) }}">Mes Dons</a>
            </li>
            <li class="nav-item {{ ('user_associations' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('user_associations') }}">Mes Assos</a>
            </li>
            <li class="nav-item {{ ('user_reviews' in route) ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('user_reviews') }}">Mes Avis</a>
            </li>
            <li class="nav-item {{ ('user_infos' in route) ? 'active' : '' }}">
                <a class="nav-link" id="basket-link" href="{{ path('user_infos') }}">Mes Infos</a>
            </li>
        </ul>
    </div>

</nav>