{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
    <h4 class="title-page mb-4">Administration des Associations</h4>
{% endblock %}

{% block content %}
<main id="dashboard">
    {% include 'includes/flash_load_ajax.html.twig' %}

    {# ----------------- Modal Suppression association ----------------- #}
    <div id="validate-modal" class="d-none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="message-delete">
            <div>Etes vous sûr de vouloir supprimer l'association <b><span class="name"></span></b> ?</div>
            <div>
                <button id="validate" class="btn btn-danger">Valider</button>
                <button id="cancel" class="btn btn-info">Annuler</button>
            </div>
        </div>
    </div>

    {# ----------------- Administration associations ----------------- #}
    <div class="container mb-5">

        <div class="filters input-group mb-3">
            {# ----------------- Menu déroulant des Catégories + Search bar ----------------- #}
            {#    La méthode JS 'onchange="window.location.href' = this.value"
            permet de recharger la page en dès la sélection d'une l'option    #}
            {% set getCategory = app.request.get('getCategory') %}
            <label hidden for="categories">Catégories</label>
            <select name="categories" id="categories" class="donation custom-select"
                    onchange="window.location.href = this.value">

                <option value="{{ path('admin_associations', {getCategory: null}) }}">Toutes</option>
                {% for category in categories %}
                    <option
                        {{ (category.id in getCategory) ? 'selected' : '' }}
                        data-catg="{{ category.id }}"
                        value="{{ path('admin_associations', {getCategory: category.id}) }}">{{ category.name }}
                    </option>
                {% endfor %}
            </select>

            {# ----------------- Rechercher une association ----------------- #}
            <i id="search-btn" class="fas fa-search mr-3 ml-3"></i>
            <label hidden for="search">Recherche</label>
            <input type="text" id="search" data-search-url="{{ path('admin_ajax_search') }}" placeholder="rechercher">

            {# ----------------- Ajouter une Suppression asso ----------------- #}
            <div class="ml-3">
                <a href="{{ path('admin_associations_create') }}" class="btn btn-info btn-sm pl-2 pr-2">
                    Ajouter une association <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>

        {# ----------------- Historique des Dons aux associations ----------------- #}
        <div class="associations-dash">
            {% for association in assosAmount %}
                <div class="asso-asso">

                    <div class="image-asso box">
                        <a href="{{ path('association_id', {id: association.0.id}) }}" class="link-asso">
                            {% if association.0.image is null %}
                                <img src="{{ asset(ImgAssosDefault) }}" alt="image par défaut">
                            {% else %}
                                <img src="{{ asset(ImgAssosFolder ~ association.0.image) }}" alt="{{ association.0.name }}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="text-asso box">
                        <a href="{{ path('association_id', {id: association.0.id}) }}" class="link-asso">
                            <h3>{{ association.0.name }}</h3>
                        </a>
                        <p>Inscription le {{ association.0.createdAt | date("d/m/y") }}</p>
                        <p>Contact: {{ association.0.contactInfo }}</p>
                    </div>

                    {# ----------------- stats pour cette association ----------------- #}
                    <div class="stat-asso box">
                        Total des dons: <b>{{ association.1 }}€</b>
                    </div>

                    <div class="form-don box">
                        {# Editer une association #}
                        <a href="{{ path('admin_associations_edit', {id: association.0.id }) }}"
                           class="edit btn btn-info btn-sm m-1">
                            <i class="far fa-edit"></i>
                        </a>

                        {# Supprimer une categorie #}
                        <a href="" class="delete btn btn-danger btn-sm m-1"
                           data-delete-id="{{ association.0.id }}" data-delete-name="{{ association.0.name }}"
                            {# Envoi le nom du chemin à suivre (path) de la fonction AJAX afin de mutualiser les scripts #}
                            data-delete-path="{{ path('admin_ajax_associations_delete') }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="no-infos">
                    <span>Aucunes associations trouvées</span>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    {% include 'includes/js_ajax_delete.html.twig' %}
    {% include 'includes/js_ajax_search.html.twig' %}
{% endblock %}
