{% extends 'base.html.twig' %}

{% block header %}
    {# ----------------- Menu dashboard ----------------- #}
    {% include 'includes/menu_admin_dashboard.html.twig' %}
    <h5 class="title-page mb-4">Administration des catégories</h5>
{% endblock %}

{% block content %}
<main id="dashboard">
    {% include 'includes/flash_load_ajax.html.twig' %}

    {# ----------------- Modal Suppression categories ----------------- #}
    <div id="validate-modal" class="d-none" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="message-delete">
            <div>Etes vous sûr de vouloir supprimer la catégorie <b><span class="name"></span></b> ?</div>
            <div>
                {#<a href="#" id="validate" class="btn btn-danger btn-sm">Valider</a>#}
                <button id="validate" class="btn btn-danger btn-sm">Valider</button>
                <button id="cancel" class="btn btn-info btn-sm">Annuler</button>
            </div>
        </div>
    </div>

    <div class="container">
        {# ----------------- Ajouter une Categories ----------------- #}
        <form action="{{ path('admin_categories') }}" method="POST">
            <div class="form-catg mb-4">
                <input type="text" name="name" id="appbundle_category_name" required>
                <button type="submit" name="submit" value="true" class="submit btn btn-warning ml-3">Ajouter</button>
            </div>
        </form>

        {# ----------------- Categories ----------------- #}
        <div class="categories">
            {% for category in categories %}
                <div class="catg-box">
                    <div class="name-catg">{{ category.name }}</div>

                    <div class="btn-catg">
                        {# Editer une categorie #}
                        {# On écoute le bouton en jQuery pour modifier et non plus ajouter une catégorie #}
                        <a href="" class="edit btn btn-info btn-sm"
                           data-id-catg="{{ category.id }}" data-name-catg="{{ category.name }}">
                            <i class="far fa-edit"></i>
                        </a>
                        {# Supprimer une categorie #}
                        <a href="" class="delete btn btn-danger btn-sm"
                           data-delete-name="{{ category.name }}"
                           data-delete-path="{{ path('admin_categories_delete', {id: category.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="no-infos">
                    <span>Aucune catégorie trouvée.</span>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}

    {#   Modification, Ajout et Suppression des catégories sur la même page grâce au jQuery   #}
    {% include 'includes/js_path_delete.html.twig' %}

    <script>
        $(document).ready(function () {

            {# On écoute le 'click' sur les boutons Edit #}
            $('.edit').on('click', function (e) {
                e.preventDefault()

                {# Récupère les datas concernées par la modification #}
                var id = $(this).data('id-catg')
                var name = $(this).data('name-catg')

                {# Balise Input ID type hidden rajouté en cas de modification #}
                var hidden = $('.hidden-id').val()

                {# Transmet la valeur de la catégorie au Input type Text #}
                $('#appbundle_category_name').val(name)
                {# Modifie le bouton Ajouter => Modifier #}
                $('.submit').text('Modifier')

                if(hidden)
                {
                    {# Si l'Input ID existe déjà #}
                    $('.hidden-id').val(id)

                } else {

                    {# Sinon on rajoute l'Input ID hidden à la balise Form avec la valeur de id-catg sélectionné #}
                    $('.form-catg').append("<input hidden name='edit-id' class='hidden-id' type='number' value='"+ id +"'/>")
                }
            })

            {# On écoute l'input' dans le champ Text #}
            $('#appbundle_category_name').on('input', function () {

                {# Récupère la valeur du champ à chaque changement #}
                var isEmpty = $(this).val()

                if(!isEmpty)
                {
                    {# Si il est vide, On supprime l'Input ID rajouté #}
                    $('.hidden-id').remove()
                    {# On modifie le bouton Modifier => Ajouter #}
                    $('.submit').text('Ajouter')
                }
            })
        })
    </script>
{% endblock %}
